# Blocklist files/folders in same directory as the .gitignore file
*

# Includelist
!.gitignore
!.gitconfig

# Ignore everything in Documents except the PowerShell profile file
Documents/*
!Documents/
!Documents/WindowsPowerShell/
!Documents/WindowsPowerShell/Microsoft.PowerShell_profile.ps1