[user]
        name = Johnny Tsai
        email = github@johnnytsai.ca
[init]
        defaultBranch = main
[core]
        editor = vim
	autocrlf = true
[color]
        ui = auto
[fetch]
        prune = true
[push]
        autoSetupRemote = true